html {
    background-color: #4e5c5c;
    /* A seguir tem */
    margin: 0;
    padding: 0;
    height: 100vh; /* vh pega a pagina toda, 100% da tela*/
}

body {
    margin: 0;
    padding: 0;
}

.container img {
    max-width: 270px;
    max-height: 270px;
    width: auto;
    height: auto;
}

.container {
    margin: 5% 10px 0 10px; /* margem de todos os lados para criar espaçamento entre as imagens (os números inmdicam o tamanho de margem das laterais) */
}

.img-row {
    display: flex;
    justify-content: center; /* deixar as imagens no meio  */
    align-items: center;
} 

.descricao {
    margin-top: 10px;
    color: blanchedalmond;
    text-align: center;
}

img {
    vertical-align: top;
}

nav {
    background-color:#374A4B;
    padding: 7px;
    display: flex;
    justify-content: space-between;

}

nav img {
    width: 35px;
    margin-right: 15px;
}

.titulo {
    margin: 0;
    margin-left: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: bisque;
}

